@charset "UTF-8";

.register_page{
    width: 100%;
    height: 100%;
	background:linear-gradient(-45deg,#029253,#00887b);
}

.new_wrapper {
    width: 90%;
    padding: 19px 0;
    margin: 0 auto;
}

form {
    display: block;
    margin-top: 0em;
}

.new_register, .reg_pwd {
    position: relative;
}

.new_register input, .reg_pwd input {
    width: 90%;
    border: 0;
    outline: 0;
    font: 16px "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 6% 5%;
    margin: 0;
}

.new_register>div, .reg_pwd>div {
    position: relative;
}

#vcodeWrap {
    position: relative;
}

.new_register .border_btm {
    border-bottom: 1px solid #e0e0e0;
}

#vcode {
    width: 90%;
    border: 0;
    outline: 0;
    font: 16px "黑体";
    color: #333;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6% 5%;
    margin: 10px 0;
}

#vcodeWrap img {
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
    float: left;
    line-height: 42px;
}

#vcodeWrap a {
    margin-left: 20px;
    font-size: 14px;
    color: #45e3be;
    text-decoration: none;
}

#vcodeWrap a em {
    color: #9bffd3;
    font-style: normal;
    line-height: 42px;
    cursor: pointer;
    text-decoration: underline;
}

.new_register .btn_disabled {
    border-color: #ccc;
    color: #ccc;
}

.reg_pwd input {
    margin: 10px 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.reg_pwd i.eye {
    bottom: 40%;
}

.new_register i.eye, .reg_pwd i.eye {
    width: 20px;
    height: 13px;
    background-size: 20px 30px;
    position: absolute;
    bottom: 33%;
    right: 5%;
    -moz-transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    -o-transition: transform .3s linear 0s;
    transition: transform .3s linear 0s;
}

input[type=submit], input[type=reset], input[type=button], select, button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
}

.btn_green {
    display: block;
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #0ac599;
    -webkit-box-shadow: 0 2px 0 #008765;
    -moz-box-shadow: 0 2px 0 #008765;
    box-shadow: 0 2px 0 #008765;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5%;
}

.register_text {
    color: #45e3be;
    font-size: 13px;
    line-height: 1.3;
}


.btn_green_border {
    display: block;
    width: 90%;
    font-size: 20px;
    color: #45e3be;
    text-decoration: none;
    text-align: center;
    border: 1px solid #45e3be;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5%;
}

.register_text {
    color: #45e3be;
    font-size: 13px;
    line-height: 1.3;
}

.register_text a {
    color: #9bffd3;
    text-decoration: underline;
}

.btm {
    -moz-border-bottom-left-radius: 5px!important;
    -webkit-border-bottom-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
    -moz-border-bottom-right-radius: 5px!important;
    -webkit-border-bottom-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.top {
    -moz-border-top-left-radius: 5px!important;
    -webkit-border-top-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    -moz-border-top-right-radius: 5px!important;
    -webkit-border-top-right-radius: 5px!important;
    border-top-right-radius: 5px!important;
}

.new_register .btn_disabled {
    border-color: #ccc;
    color: #ccc;
}

.new_register .btn_active {
    border-color: #00ae84;
    color: #00ae84;
}

.new_register .r_getVcode {
    position: absolute;
    width: 53px;
    right: 5%;
    bottom: 34%;
    font-size: 16px;
    padding: 2.5px 5px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #ccc;
    line-height: 1;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0;
    font: 13.3333px Arial;
}


.new_register .btn_disabled {
    border-color: #ccc;
    color: #ccc;
}

.new_register span, .reg_pwd span {
    position: absolute;
    right: 5%;
    top: 36%;
    font-size: 12px;
    color: #f94e4e;
    line-height: 1.2;
}

#vcodeWrap [data-valid-message] {
    position: absolute;
    right: 6%;
    top: 29%;
    font-size: 12px;
    color: #f94e4e;
    line-height: 1.2;
}

[data-controltype=PhoneVerificationCode] [data-valid-message] {
    right: 24%;
    top: 40%;
}

[data-controltype=Password] [data-valid-message] {
    right: 13%;
    top: 42%;
}